/* Main_vis */
.main_vis {
    position: relative;
    height: calc(100vh - 60px);
}

.main_vis img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_vis .text-wrap {
    position: absolute;
    top: 80%;
    left: 170px;
    transform: translateY(-50%);
}

.main_vis .text-wrap .cate {
    display: block;
    color: #948e8e;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}

.main_vis .text-wrap span {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.main_vis .text-wrap span:first-child {
    margin-left: 60px;
}

.main_vis .text-wrap span em {
    display: inline-block;
    border-bottom: 1px solid #fff;
}

.main_vis .text-wrap .btn-more {
    position: relative;
    display: block;
    margin-top: 30px;
    color: #fff;
}

.main_vis .text-wrap .btn-more::before {
    position: absolute;
    top: 0;
    left: 0;
    content: 'Brown Collection';
    color: transparent;
    border-bottom: 1px solid #fff;
}

.main_vis .text-wrap .btn-more i {
    position: absolute;
    top: -5px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    font-size: 25px;
    transition: 0.5s;
}

.main_vis .text-wrap .btn-more:hover i {
    margin-left: 20px;
}

/* COLLECTION SECTION */
.collection {
    border-bottom: 1px solid #222;
    padding: 40px 0;
}

.collection .inner {
    overflow: hidden;
}

.collection .title {
    float: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 150px;
}

.collection .cate-box {
    float: left;
}

.collection .cate-items {
    overflow: hidden;
}

.collection .cate-items {
    line-height: 54px;
}

.collection .cate-items a {
    position: relative;
    float: left;
    padding-right: 40px;
    font-size: 45px;
    font-style: italic;
    font-weight: 300;
    transition: 0.6s;
}

.collection .cate-items a:hover {
    color: #948e8e;
}

.collection .cate-items a::after {
    position: absolute;
    top: -15px;
    right: 5px;
    content: attr(data-count);
    font-size: 13px;
    font-style: normal;
    color: #d8a341;
}

/* Product Section */
.product .products {
    width: 1200px;
    margin-left: 140px;
    padding: 100px 0 80px;
}

.product .products li {
    height: 450px;
    float: left;
    width: 50%;
    position: relative;
    margin-bottom: 100px;
}

.product .products li:nth-child(1) {
    padding-right: 70px;
}

.product .products li:nth-child(2) {
    padding-top: 100px;
    padding-left: 70px;
    top: -50px;
}

.product .products li:nth-child(3) {
    padding-right: 130px;
    left: 80px;
}

.product .products li:nth-child(4) {
    padding-top: 100px;
    padding-left: 70px;
    top: -50px;
}

.product .products li:nth-child(5) {
    padding-right: 70px;
}

.product .products li:nth-child(6) {
    padding-left: 60px;
    bottom: -100px;
}

.product .products li > a{
    position: relative;
    display: block;
    height: 100%;
}

.product .products li > a::before {
    content: '';
    width: 80%;
    height: 100%;
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.product .products li:nth-child(4) > a::before {
    content: '';
    width: 80%;
    height: 100%;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
}


.product .products li > a::after {
    content: '';
    width: 80%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(253, 250, 238);
    transition: 1s;
}

.product .products li.on > a::after {
    height: 0;
}

.product .products li img {
    position: absolute;
    bottom: 30px;
    right: -5%;
    width: 520px;
    height: 230px;
    object-fit: cover;
    z-index: 2;
}

.product .products li:nth-child(1) img {
    top: 30px;
    right: -25%;
    width: 620px;
}

.product .products li:nth-child(2) img {
    bottom: 30px;
    right: 50%;
    width: 320px;
}

.product .products li:nth-child(4) img {
    position: static;
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.product .products li .model {
    position: absolute;
    bottom: 60px;
    left: 25px;
    font-size: 45px;
    font-weight: 300;
    transition: 0.5s;
    writing-mode: tb-rl;
    font-family: 'Cormorant Infant', serif;
    z-index: 2;
}

.product .products li:nth-child(2) .model {
    top: -20px;
}

.product .products li:nth-child(3) .model {
    font-size: 35px;
}

.product .products li .text-wrap {
    position: absolute;
    top: 100%;
    right: 20%;
    width: 100%;
    color: #858585;
}

.product .products li .text-wrap p {
    margin-top: 10px;
    font-size: 16px;
    text-align: right;
}

.product .products li .text-wrap .desc {
    font-size: 14px;
    text-align: right;
}

.product .products li .text-wrap .btn-more  {
    display: block;
    width: 100%;
    font-size: 22px;
    text-align: right;
    transition: 0.4s;
}

.product .products li:hover .text-wrap .btn-more {
    transform: translateX(20px);
}

/* Top seller section */
.top-seller {
    padding: 70px 0;
}

.top-seller .seller-header .cate {
    display: block;
    color: #222;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}

.top-seller .seller-header .title {
    font-size: 37px;
    margin-bottom: 30px;
}

.top-seller .seller-slide {
    position: relative;
    padding-top: 50px;
}

.top-seller .seller-slide .swiper-slide {
    width: 33.33%;
    height: 300px;
}

.top-seller .seller-slide .swiper-slide .image-wrap {
    height: 300px;
    position: relative;
}

.top-seller .seller-slide .swiper-slide .image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.4s;
}

.top-seller .seller-slide .swiper-slide:hover .image-wrap img {
    transform: scale(1.1);
}

.top-seller .seller-slide .swiper-slide .model {
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: -50px;
    color: #8f8f8f;
    font-size: 14px;
    text-align: right;
}

.top-seller .seller-slide .btn {
    position: absolute;
    bottom: 300px;
    right: 20px;
    width: 50px;
    height: 50px;
}

.top-seller .seller-slide .btn i {
    font-size: 25px;
}

.top-seller .seller-slide .prev {
    position: absolute;
    bottom: 300px;
    right: 70px;
    width: 50px;
}

/* magazine section */
.magazine .inner{position: relative;}

.magazine .magazine-header {
    margin-bottom: 60px;
}

.magazine .magazine-header .cate {
    display: block;
    color: #222;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}

.magazine .magazine-header .title {
    font-size: 37px;
}

.magazine .magazine-slide .swiper-slide {
    width: 400px;
}

.magazine-slide .swiper-slide .image-wrap {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.magazine .magazine-slide .swiper-slide.center .image-wrap {
    height: 300px;
}

.magazine-slide .swiper-slide .image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.magazine-slide .swiper-slide:hover img {
    transform: scale(1.2);
}

.magazine-slide .swiper-slide .text-wrap {
    margin-top: 25px;
}

.magazine-slide .swiper-slide .text-wrap p {
    font-size: 18px;
    margin-bottom: 20px;
}

.magazine-slide .swiper-slide .sub-text-box {
    border-top: 1px solid #222;
    overflow: hidden;
    color: #bbb;
    font-size: 14px;
}

.magazine-slide .swiper-slide .sub-text-box .date {
    float: left;
    position: relative;
    width: 50%;
    display: block;
    padding-top: 10px;
}

.magazine-slide .swiper-slide .sub-text-box .desc {
    float: right;
    width: 50%;
    display: block;
    border-left: 1px solid #222;
    padding-top: 10px;
    line-height: 1.2;
    padding-left: 10px;
}

.magazine .swiper-pagination {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100px;
    height: 50px;
    line-height: 50px;
    bottom: auto;
}

.magazine .swiper-pagination span {
    font-size: 25px;
    font-weight: 500;
}

.magazine .btn {
    position: absolute;
    top: 85px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.magazine .btn i {
    font-size: 25px;
}

.magazine .btn.prev {
    right: 50px;
}

.magazine .btn.next {
    right: 20px;
}

/* Overlay slide section */
.overlay {
    position: relative;
    height: 650px;
    margin-top: 100px;
    background: url(../images/overlay.jpeg) no-repeat;
    background-size: cover;
    background-position-y: center;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.overlay-header {
    position: relative;
    z-index: 1;
    padding: 80px 290px 0 290px;
    margin: 0 auto;
}

.overlay-header .cate {
    float: left;
    color: #fff;
}

.overlay-header .sub-cate {
    float: right;
    font-size: 20px;
    color: #ccc;
}

.overlay-header .sub-cate span {
    color: #fff;
    font-size: 36px;
}

.overlay .title {
    position: absolute;
    top: 60%;
    left: 245px;
    z-index: 2;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.overlay .title span {
    display: block;

}

.overlay .title span:first-child {
    margin-left: 60px;
}

.overlay .title span em {
    display: inline-block;
    border-bottom: 1px solid #fff;
}

.overlay .drag-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    mix-blend-mode: difference;
}

.overlay .drag-box.on {
    opacity: 1;
    visibility: visible;
}

.overlay .overlay-slide {
    padding-top: 50px;
}

.overlay .overlay-slide .swiper-slide {
    position: relative;
    width: 60%;
    height: 400px;
    transition: 0.8s;
}

.overlay-slide .swiper-slide-active {
    transform: translateY(-30px);
}

.overlay-slide .swiper-slide-active .drag-box {
    opacity: 1;
}

.overlay .overlay-slide .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.overlay .overlay-slide .swiper-slide .model {
    display: block;
    font-size: 13px;
    color: #ddd;
    padding-top: 10px;
}

/* From author section */
.from-author {
    position: relative;
}

.from-author::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    background: linear-gradient(to top, #f1f2f6, #dfe4ea);
    z-index: -1;
}

.from-author .author-content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px;
}

.author-content .image-wrap {
    float: left;
    width: 40%;
    height: 400px;
    position: relative;
    background: url(../images/author.jpg) no-repeat;
    background-size: cover;
}

.author-content .image-wrap::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(253, 250, 238);
    transition: 1s;
}

.author-content .image-wrap.on::after {
    height: 0;
}

.author-content .image-wrap .model {
    position: absolute;
    bottom: 90px;
    left: -120px;
    transform: rotate(-90deg);
    color: #747d8c;
}

.author-content .text-wrap {
    float: right;
    width: 60%;
    position: relative;
    padding: 90px 0 0 50px;
}

.author-content .text-wrap .text-header {
    font-size: 13px;
    margin-bottom: 20px;
}

.author-content .text-wrap .cate {font-weight: 600;}

.author-content .text-wrap .author {color: #747d8c;}

.author-content .text-wrap p {
    margin-bottom: 20px;
    font-size: 28px;
    width: 100%;
    line-height: 1.3;
}

.author-content .text-wrap p span {
    position: relative;
    display: inline-block;
}

.author-content .text-wrap p span::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(253, 250, 238);
    transition: 1s;
}

.author-content .text-wrap p span.on::after {
    height: 0;
}

.author-content .text-wrap p em {color: #80848b;}

.author-content .text-wrap .btn-more {
    font-size: 13px;
    color: #a9a9ab;
    position: relative;
}

.author-content .text-wrap .btn-more::before {
    position: absolute;
    top: 3px;
    left: 0;
    content: 'About the Brand';
    color: transparent;
    border-bottom: 1px solid #a9a9ab;
}

.author-content .text-wrap .btn-more i {
    position: absolute;
    top: -4px;
    left: 130px;
    font-size: 20px;
    transition: 0.5s;
}

.author-content .text-wrap .btn-more:hover i {
    left: 160px;
}

/* Photo view section */
.photo-view {
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    height: 750px;
}

.photo-view::after {
    content: '#DBEyewear';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: #222;
}

.photo-view .items {
    white-space: nowrap;
}


.photo-view .items .item {
    display: inline-block;
    height: 357px;
}

.photo-view .items .item img {
    height: 100%;
    object-fit: cover;
}

.photo-view .items .item:nth-child(2n) {
    margin: 0 200px;
}

.photo-view .items:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
}

.photo-view .items:nth-child(2) .item:nth-child(2) {
    margin: 0 100px;
}

/* Brand section */
.brand {
    position: relative;
    height: 600px;
    background: url(../images/brand.jpeg) no-repeat;
    background-size: cover;
    background-position-y: center;
}

.brand::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.brand .text-wrap {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    z-index: 1;
}

.brand .text-wrap .cate {
    font-size: 13px;
    font-weight: 600;
    color: #eee;
}

.brand .text-wrap p {
    margin-top: 20px;
    font-size: 38px;
    color: #f1f2f6;
}

.brand .text-wrap p em {
    color: #d8a341;
}

.brand .text-wrap .btn-more {
    position: absolute;
    bottom: -40px;
    left: 0;
    font-size: 13px;
    color: #80848b;
}

.brand .text-wrap .btn-more::before {
    position: absolute;
    top: 4px;
    left: 0;
    content: 'About the Brand';
    color: transparent;
    border-bottom: 1px solid #80848b;
}

.brand .text-wrap .btn-more i {
    position: absolute;
    top: -4px;
    left: 120px;
    font-size: 20px;
    transition: 0.5s;
}

.brand .text-wrap .btn-more:hover i {
    left: 160px;
}
